<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dewesh Jha | Developer and Coding Enthusiast</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/update.css">
    <link rel="stylesheet" href="/css/messages.css">
    <!-- <link rel="stylesheet" href="/css/projects.css" /> -->

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous"
    />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/site.webmanifest" />
  </head>
  <body>
    <div id="loader">
      <img src="/img/jil.gif" alt="" srcset="">
    </div>
    <!-- <div class="mountains">

      <div class="mountain">
        <img src="/img/bg6.jpg" alt="bg-mountain" />
      </div>

    </div> -->

    <nav class="navigation" >
       <ul class="menu-list">
        <div class="row">
          <div class="col-lg-3 col-sm-9 col-9 left-list">
            <li class="nav-list-item align-left"><a class="brand" href="/"> <img class="logo-img" src="/img/logo6.webp" alt="logo"> DEWESH JHA </a> </li>
            
          </div>
          <div class="col-lg-9 col-sm-3 col-3 right-list">
            <li class="nav-list-item" id="nav-toggler"> <i class="fas fa-bars    "></i></li>
            <li class="nav-list-item"><a href="/#about">ABOUT</a></li>
            <li class="nav-list-item"><a href="/#passion">PASSION</a></li>
            <li class="nav-list-item"><a href="/#skill">SKILLS</a></li>
            <li class="nav-list-item"><a href="/#project">PROJECTS</a></li>
            <li class="nav-list-item"><a href="/#contact">CONTACT</a></li>
          </div>
        </div>
        <ul class="nav-items hidden">
              <li class=" nav-list-item "><a href="/#about">ABOUT</a></li>
              <li class=" nav-list-item "><a href="/#passion">PASSION</a></li>
              <li class=" nav-list-item "><a href="/#skill">SKILLS</a></li>
              <li class="  nav-list-item "><a href="/#project">PROJECTS</a></li>
              <li class="   nav-list-item "><a href="/#contact">CONTACT</a></li>
          </ul>
      </ul>
    </nav>