<%- include("partials/header.ejs") %> 

<main class="admin-background">
    <section class="admin-btn-section">
        <div class="add-group">
            <h3>Messages and Blog</h3>
            <a href="/messages" class="button-grey">Read New Messages</a>
            <a href="#" class="button-grey">View Blog</a>
            <a href="/resumes" class="button-grey">Edit Resume Link</a>
        </div>
    </section>
</main>
<%- include("partials/footer.ejs") %> 