<%- include("partials/header.ejs") %>

<main>
  <section id="title-section">
    <div class="heading">
      <h1 class="big-heading">Hi, I'm Dewesh</h1>
      <p class="subtitle">Web Developer &amp; Coding enthusiast</p>
    </div>
  </section>

  <div class="opaque-section">
    <section id="about" class="about-section">
      <h2>A LITTLE BIT about me</h2>
      <img class="propic" src="/img/propic.jpeg" alt="propic" />
      <p>
        Hey! My name is Dewesh and I'm a coding enthusiast with keen interest in
        the field of Software Development. As of now, I am pursuing my B.Tech in
        Electronics and Communication from
        <a target="_blank" href="https://www.ticollege.ac.in/"
          >Techno Main Salt Lake</a
        >. With my knowledge of web development, I build webapps that teach me
        more than I already know and that can be used for a cause. I have a
        knack for teaching and learning. I aspire to have a career where I learn
        cutting edge technologies and build impeccable things.
      </p>
    </section>
    <section id="passion" class="passion-section">
      <h2>What i do</h2>
      <div class="row passion-row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-img card-img-dev laptop-div">
                <i class="fas fa-terminal card-img-fa"></i>
              </div>
              <h3 class="card-title">Development</h3>
              <p class="card-text">
                Development is not just about building softwares. It is also
                about the insight that every line of code is for a cause. I
                expect that as I am learning new development concepts, I also
                learn to produce clean, readable, modular code that can be used
                for a cause and to build great things.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-img card-img-prob teach-div">
                <i class="fas fa-dice card-img-fa"></i>
              </div>
              <h3 class="card-title">Problem Solving</h3>
              <p class="card-text">
                I know for a fact that the basics are what one builds a
                foundation on. So, I give myself adequate time daily to learn
                different problem solving techniques. I hope these will help me
                in future scenarios when I would have to tackle real problems
                while building softwares.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-img card-img-teach teach-div">
                <i class="fas fa fa-chalkboard-teacher card-img-fa"></i>
              </div>
              <h3 class="card-title">Teaching</h3>
              <p class="card-text">
                People around me have always been a helping hand. So, I feel
                that it is my moral obligation to give back the society more
                than I take from it. Teaching is one way of doing that.
                Moreover, it is a hobby and a very good technique of brushing up
                one's knowledge.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="skill" class="skill-section">
      <h2>Skills</h2>
      <p class="mb-5">
        Be not afraid of growing slowly, be afraid only of standing still.
      </p>
      <div class="row skill-row">
        <div class="col-md-7">
          <h3 class="card-title align-left">
            Some technologies i have worked with:
          </h3>
          <div class="row skill-inner-row">
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/html.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/css.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img class="skill-img" src="/img/skills/js.png" alt="html logo" />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/bootstrap.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/git.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/github.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/node.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/express.png"
                alt="html logo"
              />
            </div>
            <div class="col-sm-2 col-3 pb-3 height-120">
              <img
                class="skill-img"
                src="/img/skills/mongodb.png"
                alt="html logo"
              />
            </div>
    
          </div>
        </div>
        <div class="col-md-5">
          <h3 class="card-title">Programming language:</h3>
          <img class="lang-img" src="/img/cpp.png" alt="" />
        </div>
      </div>
    </section>
  </div>

  <div>
    <section id="resume" class="resume-section">
      <h3>Here's my résumé</h3>
      <div class="resume-btn-div">
        <a
          class="resume-btn"
          target="_blank"
          href="<%= resumeLink %>"
          >Take A Look</a
        >
      </div>
    </section>
  </div>

  <div class="opaque-section">
    <section id="project" class="projects-section">
      <h2>PROJECTS</h2>
      <p>(more coming soon)</p>
      <div class="row project-row">
        <!-- number one -->
        <div
          class="col-md-4 proj-col"
          data-toggle="modal"
          data-target=".blockcamp-modal"
        >
          <img
            class="project-img effect2"
            src="/img/blockcamp/1.png"
            alt="HunarKeNawab"
          />
        </div>
        <div
          class="col-md-4 proj-col"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
        >
          <img
            class="project-img effect2"
            src="/img/hkn/hkn_17.png"
            alt="HunarKeNawab"
          />
        </div>

        <div
          class="col-md-4 proj-col"
          data-toggle="modal"
          data-target=".crypto-modal"
        >
          <img
            class="project-img effect2"
            src="/img/cd/cd_1-1.png"
            alt="CryptoDash"
          />
        </div>

        <div
          class="col-md-4 proj-col"
          data-toggle="modal"
          data-target=".snake-modal"
        >
          <img
            class="project-img effect2"
            src="/img/snake/snake_5a.png"
            alt="Snake Game"
          />
        </div>

        <!-- Modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

        <div
          class="modal fade blockcamp-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">
                  Hunar Ke Nawab
                </h5> -->
                <h3
                  class="project-title modal-title"
                  id="exampleModalLongTitle"
                >
                  BlockCamp
                </h3>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <section class="project-carousel-section">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/blockcamp/1.png"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                </section>

                <section class="project-doc-section">
                  <!-- <p class="project-duration"> -->

                  <p class="project-duration">
                    <a class="project-link" href="#links"
                      >Links : <i class="fas fa-external-link-alt"></i>
                    </a>
                    <span>Aug,2021 - present</span>
                  </p>

                  <!-- </p> -->

                  <ul class="project-tag-list">
                    <li class="project-tag">Blockchain</li>
                    <li class="project-tag">Cryptocurrency</li>
                    <li class="project-tag">Smart Contracts</li>
                    <li class="project-tag">HTML</li>
                    <li class="project-tag">CSS</li>
                    <li class="project-tag">JavaScript</li>
                    <li class="project-tag">Bootstrap</li>
                    <li class="project-tag">Node.Js</li>
                    <li class="project-tag">Express.Js</li>

                  </ul>

                  <p class="project-description">
                    BlockCamp is an application made to provide an intuition demonstration of Blockchains, cryptocurrencies and smart contracts. 
                  </p>

                  <ul class="project-learning">
                    <li class="project-learned-point">
                      <p>
                        The challenge here was to successfully implement my own Blockchain. To do that I learnt about many interesting topics like : SHA256 hash, Districuted P2P networks, Mining, The cryptographic puzzle, Byzantine Fault Tolerance, Consensus protocol etc.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        The application is built using Node.JS with express framework using MVC design pattern. This particular approach was chosen keeping in mind future prospects of the project. 
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        As of now only Blockchain demonstration is available. But more is to come as I am planning to also add an intuitive documentation covering various concepts listed above.
                      </p>
                    </li>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        For cryptocurrencies too, along with the demonstration I am planning proper documentation and teaching examples to cover topics like : 
                        Bitcoin, Bitcoin's monetary policy, Mining difficulty, Mining pools, Nonce range, Hardware, mempools, 51% Attack, Transactions and UTXOs, Wallets, Signatures, SegWit, Hard fork, Soft fork, HD Wallet etc.
                      </p>
                    </li>
                    
                  </ul>

                  <div class="project-links" id="links">
                    <ul>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://blockcamp.herokuapp.com/"
                          ><img src="/img/website.png" alt="website-link" />
                          <h6>Website Link</h6>
                        </a>
                      </li>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://github.com/DeweshSoc/blockcamp"
                          ><img src="/img/github.png" alt="website-link" />
                          <h6>Code Base</h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="close-btn" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="modal fade bd-example-modal-lg"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">
                  Hunar Ke Nawab
                </h5> -->
                <h3
                  class="project-title modal-title"
                  id="exampleModalLongTitle"
                >
                  Hunar Ke Nawab
                </h3>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <section class="project-carousel-section">
                  <div
                    id="carouselExampleControls"
                    class="carousel slide carousel-fade"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_17-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_16-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_15-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_14-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_13-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_12-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_11-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_10-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_9-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_8-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_7-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_6-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_5-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_4-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_3-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_2-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/hkn/hkn_1-j.jpg"
                          class="d-block w-100"
                          alt="Hkn img"
                        />
                      </div>
                    </div>
                    <!-- <a
                      class="carousel-control-prev"
                      href="#carouselExampleControls"
                      role="button"
                      data-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#carouselExampleControls"
                      role="button"
                      data-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Next</span>
                    </a> -->
                  </div>
                </section>

                <section class="project-doc-section">
                  <!-- <p class="project-duration"> -->

                  <p class="project-duration">
                    <a class="project-link" href="#links"
                      >Links : <i class="fas fa-external-link-alt"></i>
                    </a>
                    <span>Aug,2020 - Sept,2020</span>
                  </p>

                  <!-- </p> -->

                  <ul class="project-tag-list">
                    <li class="project-tag">HTML</li>
                    <li class="project-tag">CSS</li>
                    <li class="project-tag">JavaScript</li>
                    <li class="project-tag">Bootstrap</li>
                    <li class="project-tag">GIT</li>
                    <li class="project-tag">Node.Js</li>
                    <li class="project-tag">Express.Js</li>
                    <li class="project-tag">Sharp</li>
                    <li class="project-tag">Passport.Js</li>
                    <li class="project-tag">MongoDB</li>
                    <li class="project-tag">EJS</li>
                  </ul>

                  <p class="project-description">
                    Hunar Ke Nawab is a web application developed for a college
                    club with the same name. It provides a system for their
                    members to create and maintain posts, notices, events,
                    members etc. It is also used as their official website and
                    therefore has a capability to dynamically change its content
                    as required by the club.
                  </p>

                  <ul class="project-learning">
                    <li class="project-learned-point">
                      <p>
                        The biggest challenge was to create a system which
                        allowed an authorized user to create posts, notices,
                        events, members and display the same with proper time
                        stamps and user info.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Used the mongoDB document ID to implement relationships
                        between User info and Posts, Events, Notices etc. In the
                        way, I learned to use Mongoose on server side to create,
                        delete as well as access records in the Database.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Used Passport.js to provide user authentication. In mean
                        time learned about Hashing/Salting.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Used Multer to upload multiple image files to server
                        side and used Filesystem native node module to access
                        the uploaded files.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Due to low budget, image size of Posts had to be
                        limited. Therefore I used sharp, an external node module
                        to resize and compress uploaded images on server side
                        before uploading them to the Database. At the same time
                        used JS to create time stamps for the posts.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        I used Mongoose and EJS to render everything in the
                        frontend.
                      </p>
                    </li>
                  </ul>

                  <div class="project-links" id="links">
                    <ul>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://hunarkenawab.herokuapp.com/"
                          ><img src="/img/website.png" alt="website-link" />
                          <h6>Website Link</h6>
                        </a>
                      </li>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://github.com/DeweshSoc/HunarKeNawab"
                          ><img src="/img/github.png" alt="website-link" />
                          <h6>Code Base</h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="close-btn" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

<!-- snake game -->

        <div
          class="modal fade snake-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3
                  class="project-title modal-title"
                  id="exampleModalLongTitle-2"
                >
                  Snake Game
                </h3>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <section class="project-carousel-section">
                  <div
                    id="carouselExampleControls-2"
                    class="carousel slide carousel-fade"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/snake/snake_5a.png"
                          class="d-block w-100"
                          alt="Snake Game img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/snake/snake_4a.png"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/snake/snake_3a.png"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/snake/snake_2a.png"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/snake/snake_1a.png"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                    </div>
                    <a
                      class="carousel-control-prev"
                      href="#carouselExampleControls-2"
                      role="button"
                      data-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#carouselExampleControls-2"
                      role="button"
                      data-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </section>

                <section class="project-doc-section">
                  <!-- <p class="project-duration">
                    Dec,2020 - Mini Project - 7 Hours
                  </p> -->
                  <p class="project-duration">
                    <a class="project-link" href="#links-2"
                      >Links : <i class="fas fa-external-link-alt"></i>
                    </a>
                    <span>Dec,2020 - Mini Project - 7 Hours</span>
                  </p>

                  <ul class="project-tag-list">
                    <li class="project-tag">HTML</li>
                    <li class="project-tag">CSS</li>
                    <li class="project-tag">JavaScript</li>
                    <li class="project-tag">GIT</li>

                    <li class="project-tag">P5.Js</li>
                    <li class="project-tag">Object Oriented Programming</li>
                    <li class="project-tag">EJS</li>
                  </ul>

                  <p class="project-description">
                    Classic snake game built using P5.js and Javascript with an
                    Object Oriented Programming approach.
                  </p>

                  <ul class="project-learning">
                    <li class="project-learned-point">
                      <p>
                        Worked with a creative coding library (P5.js) to
                        implement main canvas, the elements (like the snake and
                        food) and the animation. In the way, learned to deal
                        with new libraries and navigate through technical
                        documentations.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Thought of mathematical ways to implement the game. Used
                        concept of matrices to create the canvas and place the
                        food and snake. Manipulted arrays to make the snake move
                        and eat.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Applied knowledge of OOP to construct Snake and Food
                        objects and to render proper functionalities associated
                        with these objects.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Worked around corner cases to provide a glitch free
                        gaming experience. With this also learned to think deep
                        and thoroughly so that I can find bugs and resolve them
                        as soon as possible.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        Implemented and used time efficient algorithm for
                        searching purposes.
                      </p>
                    </li>
                  </ul>

                  <div class="project-links" id="links-2">
                    <ul>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://snakegame-deweshjha.herokuapp.com/"
                          ><img src="/img/website.png" alt="website-link" />
                          <h6>Website Link</h6>
                        </a>
                      </li>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://github.com/DeweshSoc/Snake-Game"
                          ><img src="/img/github.png" alt="codebase-link" />
                          <h6>Code Base</h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="close-btn" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

<!-- cryptodash -->

        <div
          class="modal fade crypto-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3
                  class="project-title modal-title"
                  id="exampleModalLongTitle-3"
                >
                  CryptoDash
                </h3>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <section class="project-carousel-section">
                  <div
                    id="carouselExampleControls-3"
                    class="carousel slide carousel-fade"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/cd/cd_1-j.jpg"
                          class="d-block w-100"
                          alt="Snake Game img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/cd/cd_2-j.jpg"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/cd/cd_3-j.jpg"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                      <div class="carousel-item">
                        <img
                          class="carousel-img border-light-black"
                          src="/img/cd/cd_4-j.jpg"
                          class="d-block w-100"
                          alt="snake img"
                        />
                      </div>
                    </div>
                    <a
                      class="carousel-control-prev"
                      href="#carouselExampleControls-3"
                      role="button"
                      data-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#carouselExampleControls-3"
                      role="button"
                      data-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </section>

                <section class="project-doc-section">
                  <!-- <h1 class="project-title">
                    <a class="project-link" href="#links-3"
                      >CryptoDash<i class="fas fa-external-link-alt"></i>
                    </a>
                  </h1> -->
                  <p class="project-duration">
                    <a class="project-link" href="#links-3"
                      >Links : <i class="fas fa-external-link-alt"></i>
                    </a>
                    <span>Oct,2020 - Nov, 2020</span>
                  </p>

                  <ul class="project-tag-list">
                    <li class="project-tag">HTML</li>
                    <li class="project-tag">CSS</li>
                    <li class="project-tag">JavaScript</li>
                    <li class="project-tag">Express.Js</li>
                    <li class="project-tag">GIT</li>

                    <li class="project-tag">Coin Market Cap API</li>
                    <li class="project-tag">Nomics API</li>
                    <li class="project-tag">EJS</li>
                  </ul>

                  <p class="project-description">
                    A cryptocurrency dashboard to display all details of top 100
                    cryptocurrencies.
                  </p>

                  <ul class="project-learning">
                    <li class="project-learned-point">
                      <p>
                        Implemented the frontend using HTML/CSS and Bootstrap
                        from scratch after taking inspiration from dribble.
                      </p>
                    </li>
                    <li class="project-learned-point">
                      <p>
                        After comprehensive study of API documentation, fetched
                        data from CoinMarketCap API and Nomics API in the form
                        of JSON. Cleaned the JSON response and displayed the
                        data for top 100 cryptocurrencies using EJS.
                      </p>
                    </li>
                  </ul>

                  <div class="project-links" id="links-3">
                    <ul>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://dewesh-cryptodash.herokuapp.com/"
                          ><img src="/img/website.png" alt="website-link" />
                          <h6>Website Link</h6>
                        </a>
                      </li>
                      <li class="project-link-group">
                        <a
                          target="_blank"
                          href="https://github.com/DeweshSoc/cryptodash"
                          ><img src="/img/github.png" alt="codebase-link" />
                          <h6>Code Base</h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="close-btn" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="plane"><i class="fas fa-envelope fa-5x"></i></div>
      <h2>Get In Touch!</h2>
      <p>
        Feel free to contact me for any project or maybe, for just some casual
        talk!
      </p>

      <div class="contact-form">
        <form
          action="/contact/message"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
            />
            <input
              type="text"
              name="email"
              id=""
              class="form-control"
              placeholder="Email"
            />
            <textarea
              class="form-control"
              name="message"
              id=""
              rows="3"
              placeholder="Leave me a message"
            ></textarea>
          </div>
          <input type="submit" class="contact-btn" value="Send" /> &nbsp; or
          &nbsp;<a
            class="contact-btn"
            href="mailto:deweshjha4@gmail.com"
            target="_blank"
            >Mail Me</a
          >
        </form>
      </div>
    </section>
  </div>
</main>

<%- include("partials/footer.ejs") %>
